<div class="visible-form">
	<div class="row" >
		<div class="headBg">
		</div>
		<div class="jumbotron" style="background-color: white; padding-bottom: 100 px" >
			<div class="col-lg-3 col-lg-offset-2" style="overflow: hidden">
				<%= image_tag "ProfilePic.jpg", class:"img-responsive img-rounded center-block "%>
			</div>
			<div class="col-lg-7 " >
				<br>
				<h1> Hey, I'm <br><stong>SHRUTI GAUTAM</strong></h1>
				<span>  Software Engineer, People Person, Dancer</span> <br><br>
				<br>
				<div class="btn-group" style="display: inline-block">
					<span> Connect with me @ </span>
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-twitter btn-circle">
							<i class="fa fa-twitter"></i>
						</div>
					</a>
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-circle btn-linkedin ">
							<span class="center-block"><i class="fa fa-linkedin"></i></span>
						</div>
					</a>
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-facebook btn-circle">
							<i class="fa fa-facebook"></i>
						</div>
					</a>
				</div>
			</div>
			
		</div>
	</div>
	
	
</div>
<div class="row" >
	<div class="jumbotron" style="background-color: white" >
	</div>
</div>
<div class= "jumbotron" style="background-color: #e0ebe8">
	<h2 align="center">About Me</h1>
	<hr >
	<div class="row " >
		<div class="col-lg-6 " >I am software developer with a good foundation of data Structures and algorithms, which helped me in completing diverse projects in Java, python, C, C++ languages. As a system engineer gained experience in building high performance storage servers. I have hands on experience in full stack development and creating Ruby on Rails apps  Front end javascript and Design with Bootstrap and CSS.</div>
		<div class="col-lg-6 " >
		My handwork and enthusiasm contributes to my sucess. With my outgoing personality, I connect with the people well. I find ways to connect people in order to help them advance and attain their goals. Dance has been my passion since childhood, from learning indian classical dance forms to performing Bollywood styles has been a fun journey. I have found my love in modern contemporary dance form. Traveling completes my life experiences.</div>
	</div>
</div>
<div class= "row jumbotron" style="background-color: white" >
	<h2 align="center">Background</h1>
	<hr >
	<div class="col-lg-4 col-sm-offset-2" >
		<div class="panel panel-success" >
			<div class="panel-heading text-center">Education</div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-body">
					<div style="float:left;"><%= image_tag "cornell.jpg", class:"img-responsive img-thumbnail "%></div>
						<div class="text-center" ><hr  >Cornell Univeristy <br>
						Masters of Engineering <br> Computer Science  <br> Class of 2012
							<br>Ithaca, New York
						</span></div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<span> <%= image_tag "itass.jpg", class:"img-responsive img-thumbnail "%>
							Delhi Colege of Engineering <br>
						Bachelors of Engineering <br> Information Technology - Class of 2009 <br>Delhi, India</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class=" panel panel-success" >
			<div class="panel-heading text-center">Work</div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-body">
						<%= image_tag "Oracle.jpg", class:"img-responsive img-thumbnail "%>
						<h3>Oracle</h3>
						<p>Software Engineer II <br> September 4, 2012 to present <br> Redwood City, California </p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div>
							<%= image_tag "itass.jpg", class:"img-responsive img-thumbnail "%>
							<h3>Itaas, Cognizant</h3>
							<div>
								<p>Software Engineer <br> February 2010 to July 2011 <br> Noida, India</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>