<div class="conatiner">
	<div class="row" >
		<div class="headBg">
		</div>
		<div class="jumbotron" style="background-color: white; padding-bottom: 100 px" >
			<div class="col-lg-3 col-lg-offset-2" style="overflow: hidden">
				<%= image_tag "ProfilePic.jpg", class:"img-responsive img-rounded center-block "%>
			</div>
			<div class="col-lg-7 " >
				<br>
				<h1> Hey, I'm <br><stong>SHRUTI GAUTAM</strong></h1>
				<span style="color: #6F4242" >  Entrepreneur, Product Manager, Software Engineer, Dancer</span> <br><br>
				<br>
				<div class="btn-group" style="display: inline-block">
					<span style="color: #6F4242"> Connect with me @ </span>
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-twitter btn-circle">
							<i class="fa fa-twitter"></i>
						</div>
					</a>
					<a href="https://www.linkedin.com/pub/shruti-gautam/13/b0b/817">
						<div class="btn btn-circle btn-linkedin ">
							<span class="center-block"><i class="fa fa-linkedin"></i></span>
						</div>
					</a>
					<a href="https://www.facebook.com/shruti.gautam.35">
						<div class="btn btn-facebook btn-circle">
							<i class="fa fa-facebook"></i>
						</div>
					</a>
				</div>
			</div>
			
		</div>
	</div>
	
</div>
<div class="jumbotron" style="background-color: white" >
<div class="row" >
	
	</div>
</div>
<div class= "jumbotron" style="background-color: #e0ebe8">
	<h2 align="center" style="color: #6F4242">About Me</h1>
	<hr >
	<div class="row " >
		<div class="col-lg-6 " >I graduated from Cornell University with a MS in Computer Science. My handwork and enthusiasm contributes to my success.  I have a five years of product development experience along with customer and client interactions, user requirement gathering, growth hacking, lean startups, A/B testing, customer acquisitions.<br><br>Currently, I am a Senior Software Engineer in the in-memory database group at Oracle. I have collaborated with the development teams to define the requirements and implemented a diagnostic feature to provide dynamic performance statistics for the Oracle In-Memory Database. I designed and developed a caching mechanism to introduce concurrency control and improve the I/O performance. I have closely worked with the product managers in resolving customer issues and these days I am helping them with product marketing activities.</div>
		<div class="col-lg-6 " >
		I enjoy taking on initiatives, responsibilities and leadership roles that defy convention and lie outside of my job description. In my free time, I worked on a startup idea in the education technology space with two of my friends for the past one and a half year. I got hands on experience in the full stack development, content creation, managing the Scrum and product backlogs and lean startup experiments to define and prioritize the product strategy. I have studied various growth hacking techniques and have successfully implemented a few for my startup.  Using A/B testing, analytics, close interactions and feedbacks improved the customer engagement and retention. It was an awesome and  satisfying journey. The next logical step for my career is to move into the Product Management.</div>
	</div>
</div>
<div class= "jumbotron" style="background-color: white;overflow-x: hidden;" >
	<div class="row" >
		<h2 align="center" style="color: #6F4242">Background</h2>
		<hr >
		<div class="col-lg-4 col-lg-offset-1" >
			<div class="panel panel-success" >
				<div class="panel-heading text-center">Education</div>
				<div class="panel-body">
					<div class="panel">
						<div class="panel-body">
							<div ><%= image_tag "cornell.jpg", class:"img-responsive img-thumbnail "%></div>
							<div class="text-left desc"> Cornell Univeristy <br>
								Masters of Engineering <br> Computer Science - Class of 2012
								<br>Ithaca, New York
							</div>
						</div>
					</div>
					<div class="panel ">
						<div class="panel-body">
							<%= image_tag "DCE.jpg", class:"img-responsive img-thumbnail "%>
							<div class="text-left desc">	Delhi Colege of Engineering <br>
								Bachelors of Engineering <br> Information Technology - Class of 2009 <br>Delhi, India<div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4  col-lg-offset-2">
			<div class=" panel panel-success" >
				<div class="panel-heading text-center">Work</div>
				<div class="panel-body">
					<div class="panel ">
						<div class="panel-body">
							<%= image_tag "Oracle.jpg", class:"img-responsive img-thumbnail "%>
							<div class="text-left desc">Oracle<br>
								Software Engineer II <br> September 4, 2012 to present <br> Redwood City, California
							</div>
						</div>
					</div>
					<div class="panel ">
						<div class="panel-body">
							<%= image_tag "itass.jpg", class:"img-responsive img-thumbnail "%>
							<div class="text-left desc">	Itaas, Cognizant<br>
								Software Engineer <br> February 2010 to July 2011 <br> Noida, India
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="text-center" style="background-color: #6F4242; color: white;">
	<div class="row" style="overflow:hidden">
		<div class="col-lg-12" style="overflow:hidden">
			Copyright ©  2015, Shruti Gautam
		</div>
	</div>
</footer>